body{
	background: url("https://res.cloudinary.com/mide358/image/upload/v1568715997/Background-img2_hc8lnn.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.col-sm-6 h4{
	font-size:  25px;
}
.col-sm-6 h5{
	font-size: 15px;
}
.col-sm-6 h4, h5{
	text-align: center;
	margin-top: 50px;

}
.register-form{
	margin-top: 50px;
	padding: 30px;
}
.logo{
	margin-left: 2vw;
	padding-top: 20px;
	color: #A625D3;
	font-weight: bold;
	font-size: 14px;
}


.form-group .form-control{
	border-radius: 1.5em;
	border: 1.5px solid #A625D3;
	margin-top: 10px;
	font-size: 14px;

}
.form-group .btn-default{
	border-radius: 2em;
	background:#A625D3 ;
	width: 25vw;
	border: none;
	font-weight: 600;
	color: #fff;
	padding: 5px;
	display: block;
	margin:  30px auto 10px auto;

}
.form-group .btn-default:hover{
	box-shadow: 0 8px 6px -6px black;
	color: rgb(199, 199, 199);
}
.col-sm-6 p{
	font-size: 12px;
	margin: 0 auto;
}
.col-sm-6 p a{
	color: #A625D3;
	font-weight: bold;
}
#other {
	text-align: center;
	margin: 0 auto;
}

#other p{
	text-align: center;
	margin: 0 auto;
}

#other a {
	margin-top: 20px;
	margin-left: 4px;
    color: #B141D8;
	text-decoration: none;
	}
	

	@media (min-width: 769px) {
		#other p{
			margin-left: 7vw;
		}
	}

	@media (min-width: 788px) {
		#other p{
			margin-right: 5vw;
		}
	}

	@media (min-width: 999px) {
		#other p{
			margin-right: -5vw;
		}
	}